
   <table class="styled-table" aria-describedby="table">
    <thead>
      <tr>
        <th *ngFor="let forecast of weatherForecast">{{ getDayName(forecast.dt) }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let forecast of weatherForecast">
          <i class="wi wi-icon-501"></i>
          <br />
          <span>{{ (forecast?.main?.temp_max || '') + '&deg;' }}</span>
          <br />
          <span>{{ (forecast?.main?.temp_min || '') + '&deg;' }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  
  
