/* Add your CSS styles for the table here */
.styled-table {
  width: 80%;
  border-collapse: collapse;
  margin: 15px 110px 20px auto;
}

.styled-table th {
  border: 0px solid #7758BC;
  padding: 8px;
  text-align: center;
  color: #ffffff;
  background-color: #7758BB;
}

.styled-table td {
  border: 0px solid #7758BC;
  padding: 8px;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
}