<table class="styled-table">
    <thead>
      <tr>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thurs</th>
      </tr>
      <tr>
        <th><i class="wi wi-icon-501"></i></th>
        <th><i class="wi wi-icon-611"></i></th>
        <th><i class="wi wi-icon-802"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7&deg;</td>
        <td>4&deg;</td>
        <td>7&deg;</td>
      </tr>
      <tr>
        <td>3&deg;</td>
        <td>1&deg;</td>
        <td>0&deg;</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
